<button id='addCategory'>Add Category</button>
<section>
    <main>
        <article id="lists">
                <% for (var i in data.cat ) {%>
                        <div class="list">
                            <label for="<%= data.cat[i]._id%>"><%= data.cat[i].name%></label>
                            <ul id="<%= data.cat[i]._id%>">
                                    <% for (var j in data.cat[i].id_tickets) {%>
                                        <li class="task" draggable="true" id="<%=data.cat[i].id_tickets[j]._id%>">
                                            <input type="checkbox" 
                                                <% if(data.cat[i].id_tickets[j].status){%> checked <%}%>
                                            >
                                            <strong>
                                                <span><%= data.cat[i].id_tickets[j].name %></span>
                                            </strong>
                                            <span class="drop">×</span>
                                        </li>
                                    <%}%>
                            </ul><button class="addTask">+</button>
                        </div>
                <%}%>
        </article>
    </main>
    <div id='newCatModal' class="modal">
        <div class="modalContent">
            <label id='closeCat' class='close'>&times;</label>
            <input class='newCategory' placeholder="Category name">
        </div>
    </div>
    <div id='newTaskModal' class="modal">
        <div class="modalContent">
            <label id='closeTask' class='close'>&times;</label>
            <div class='newTask'>
                <label for="title">Title: </label><input id="title" placeholder="task's title">
            </div>
        </div>
    </div>

</section>
